/*Bird.css*/
.Bird {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: yellow; */
    background-image: url('/public/face.jpg'); /* Specify the path to your bird image */
    background-size: cover; /* Ensure the image covers the entire element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    top: 50%; /* Position at the center of the game area */
    left: 50%; /* Position at the center of the game area */
    /* transform: translate(-50%, -50%); /* Center the bird */
}  